@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}

body {
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.head {
        font-weight: 100;
}

.location,
.temp {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
}

.temp {
        flex-direction: column;
        align-items: center;
}

.degree-type {
        display: flex;
        align-items: center;
        cursor: pointer;
}

.degree-type span {
        margin: 10px;
        align-items: center;
        font-size: 1.5rem;
}

.degree-type h1 {
        font-size: 1.5rem;
}

.summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.connect {
        position: absolute;
        top: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
}

.fa-github,
.fa-twitter,
.fa-instagram {
        color: #fff;
        margin: 10px;
}